@media screen and (min-width: 0px) and  (max-width: 1200px)  {
  
  .hero-section {
    min-height: 68vh;
    background-color: #fcfcfc;
  }
 .about-section {
  padding: 100px 0;
  overflow: hidden;
 }
 .about-section .about-content {
  text-align: left;
 }

 .about-section .about-img-box {
 display: flex;
 justify-content: center;
 align-items: center
 }
.animate-left {
  visibility: visible;
  animation: slideInLeft 0.8s ease-out forwards;
}

.animate-right {
  visibility: visible;
  animation: slideInRight 0.8s ease-out forwards;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
 
}
.text-center {
  text-align: left;
}

.skills-section .d-flex {
  display: flex;
  flex-direction: column;
}

.media {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.media:hover {
  scrollbar-color: #888 #f1f1f1;
}

/* width */
.media::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.media::-webkit-scrollbar-track {
  background: transparent;
}

.media:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.media::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover container */
.media:hover::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.media::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.media::-webkit-scrollbar-button {
  display: none;

}



.media-body {
  margin: 20px;
}

}